<h1>StaticPage#index</h1>
<p>Find me in app/views/static_page/index.html.erb</p>

<% if current_user %>
	<div id="friends">
		<p> <%= link_to "Invite your Facebook friends", "#", :id => "invite_fb_friends" %> </p> 

		<div id="fb-root"></div>

		<script type="text/javascript" src="http://connect.facebook.net/en_US/all.js"></script>

		<script> 
		$(function() { 
			$("a#invite_fb_friends").click(function() { 
			FB.ui({method: 'apprequests', message:'Hey! We need beta testers for this new app. No spam, ' + 'a bit of thinking before posting, and fun with friends.' }); 
			}); 
		}); 
		</script> 
	</div>
<% end %>






